* {
  box-sizing: content-box;
  width: 100%; // ?
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-room {
  display: flex;
  width: 90vw;
  height: 90vh;
  border: solid 1px black;
  justify-content: space-between;
}

.mess-bar {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-between;
  border: 1px dashed lightblue;
  width: 70vw;
  // Add width, stretch until participants
}

.participants {
  padding: 1rem;
  margin: 1rem;
  border: 1px dashed lightblue;
  width: 20vw;
  // add scrollable
}

.chat-bar {
  display: flex;
}

.inp {
}

.send-btn {
  margin: 0 auto;
}
